:root {
  /* Fonts */
  --basic-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Text colors */
  --basic-txt-cl: #212121;
  --secondary-txt-cl: #757575;
  --light-txt-cl: #ffffff;
  --accent-txt-cl: #2196f3;
  --logo-txt-cl: #000000;
  --icon-cl: #afb1b8;
  /* Background colors */
  --basic-bg-cl: #ffffff;
  --hdr-ftr-bg-cl: #2f303a;
  --overline-bg-cl: #c4c4c4;
  --accent-hdr-cl: #188ce8;
  --team-bg-cl: #f5f4fa;
  --accent-bg-cl: #2196f3;
  /* Others */
  --header-brd-cl: 1px solid #ececec;
  --portfolio-brd-cl: 1px solid #eeeeee;
  --indent: 30px;
  --items: 3;
  --gap: 30px;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.socials__link, .logo, .product__link, .footer-contacts__link, .clients__link, .register-form__link, .header-contacts__link, .nav__link {
  text-decoration: none;
  color: currentColor;
}

.filters__list, .socials, .product__list, .footer-contacts__list, .clients__list, .team__list, .services__list, .features__list, .header-contacts, .nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--basic-bg-cl);
  color: var(--basic-txt-cl);
  font-family: var(--basic-font);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid red; */
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}
.flex__item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.header {
  border-bottom: var(--header-brd-cl);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--basic-txt-cl);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-txt-cl);
}
.nav__link--current {
  color: var(--accent-txt-cl);
}
.nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -1.5%;
  width: 100%;
  height: 4px;
  background-color: var(--accent-bg-cl);
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.header-contacts__item {
  margin-right: 50px;
}
.header-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-txt-cl);
}
.header-contacts__icon {
  fill: currentColor;
}

.hero {
  background: var(--hdr-ftr-bg-cl);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  -webkit-box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/head/Teamwork.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/head/Teamwork.jpg);
  background-color: var(--overline-bg-cl);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__heading {
  width: 700px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-txt-cl);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.hero__btn {
  width: 216px;
  background-color: var(--accent-bg-cl);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--accent-hdr-cl);
}

.register-form__title {
  display: block;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.register-form__group {
  margin-bottom: 20px;
}
.register-form__field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.register-form__field:last-child {
  margin-bottom: 0;
}
.register-form__lable {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--secondary-txt-cl);
}
.register-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: transparent;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}
.register-form__input:hover, .register-form__input:focus {
  border-color: var(--accent-bg-cl);
}
.register-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.register-form__input:hover + .register-form__icon, .register-form__input:focus + .register-form__icon {
  fill: var(--accent-bg-cl);
}
.register-form__message {
  width: 100%;
  height: 120px;
  display: block;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}
.register-form__message:hover, .register-form__message:focus {
  border-color: var(--accent-bg-cl);
}
.register-form__message::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  margin-bottom: 30px;
}
.register-form__checked {
  opacity: 0;
  -webkit-transition: opasity var(--animation);
  transition: opasity var(--animation);
}
.register-form__checkbox:checked + .register-form__check .register-form__checked {
  opacity: 1;
}
.register-form__unchecked {
  opacity: 1;
  -webkit-transition: opasity var(--animation);
  transition: opasity var(--animation);
}
.register-form__checkbox:checked + .register-form__check .register-form__unchecked {
  opacity: 0;
}
.register-form__checkbox:focus + .register-form__check {
  fill: var(--accent-bg-cl);
  outline: 2px solid black;
  outline-offset: 1px;
  border-radius: 1px;
}
.register-form__desc {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.register-form__link {
  color: var(--accent-txt-cl);
}
.register-form__btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  background-color: var(--accent-bg-cl);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.register-form__btn:hover, .register-form__btn:focus {
  background-color: var(--accent-hdr-cl);
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features__list {
  --items: 4;
}
.features__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--team-bg-cl);
}
.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--basic-txt-cl);
}
.features__text {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}

.services {
  padding-bottom: 94px;
}
.services__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-txt-cl);
}
.services__thumb {
  position: relative;
}
.services__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  color: var(--light-txt-cl);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-bg-cl);
}
.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-txt-cl);
}
.team__list {
  --items: 4;
}
.team__item {
  background: var(--basic-bg-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__wrap {
  padding: 30px;
}
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-txt-cl);
}
.team__profession {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
  margin-bottom: 16px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-txt-cl);
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clients__item {
  width: 170px;
  height: 92px;
  --items: 6;
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--icon-cl);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  color: var(--icon-cl);
  outline: transparent;
  -webkit-transition: color var(--animation), border-color var(--animation);
  transition: color var(--animation), border-color var(--animation);
}
.clients__icon {
  fill: currentColor;
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-txt-cl);
  border-color: var(--accent-bg-cl);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hdr-ftr-bg-cl);
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.foofer__wrap {
  min-width: 231px;
  margin-right: 70px;
}

.footer-contacts {
  font-style: normal;
}
.footer-contacts__text {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl);
}
.footer-contacts__item {
  margin-bottom: 9px;
}
.footer-contacts__link {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: hsla(0deg, 0%, 100%, 0.6);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-txt-cl);
}

.join {
  min-width: 206px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 93px;
}
.join__title {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl);
  text-transform: uppercase;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.product__link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.product__link:hover, .product__link:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}
.product__wrap {
  position: relative;
  overflow: hidden;
}
.product__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
}
.product__link:hover .product__overlay, .product__link:focus .product__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.product__features {
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl);
}
.product__desc {
  padding: 20px 24px;
  border-left: var(--portfolio-brd-cl);
  border-right: var(--portfolio-brd-cl);
  border-bottom: var(--portfolio-brd-cl);
}
.product__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--basic-txt-cl);
}
.product__filter {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}

.btn {
  min-height: 50px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  padding: 10px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--light-txt-cl);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
}
.logo__dark {
  color: var(--logo-txt-cl);
}
.logo__light {
  color: var(--light-txt-cl);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: visibility var(--animation), opacity var(--animation);
  transition: visibility var(--animation), opacity var(--animation);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--basic-bg-cl);
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}
.modal__btn-closed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.modal__btn-closed:hover, .modal__btn-closed:focus {
  fill: var(--accent-bg-cl);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.socials__item {
  width: 44px;
  height: 44px;
}
.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.socials__link--color {
  color: var(--icon-cl);
  background-color: var(--basic-bg-cl);
  -webkit-transition: color var(--animation), background-color var(--animation);
  transition: color var(--animation), background-color var(--animation);
}
.socials__link-footer--color {
  color: var(--light-txt-cl);
  background-color: rgba(255, 255, 255, 0.1019607843);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.socials__icon {
  fill: currentColor;
}
.socials__link:hover, .socials__link:focus {
  color: var(--light-txt-cl);
  background-color: var(--accent-bg-cl);
}

.subscription__title {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl);
  text-transform: uppercase;
}
.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subscription__input {
  display: inline-block;
  width: 358px;
  height: 50px;
  padding: 15px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  cursor: pointer;
  outline: transparent;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}
.subscription__input:hover, .subscription__input:focus {
  border-color: var(--accent-bg-cl);
}
.subscription__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 200px;
  background-color: var(--accent-bg-cl);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.subscription__btn:hover, .subscription__btn:focus {
  background-color: var(--accent-hdr-cl);
}
.subscription__icon {
  fill: currentColor;
}

.filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filters__btn {
  padding: 6px 22px;
  font-family: inherit;
  background-color: var(--team-bg-cl);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--basic-txt-cl);
  -webkit-transition: background-color var(--animation), color var(--animation), -webkit-box-shadow var(--animation);
  transition: background-color var(--animation), color var(--animation), -webkit-box-shadow var(--animation);
  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation);
  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.filters__btn:hover, .filters__btn:focus {
  background-color: var(--accent-bg-cl);
  color: var(--light-txt-cl);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}/*# sourceMappingURL=main.css.map */