/* Fonts */
$basic-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;

/* Text colors */
$basic-txt-cl: #212121;
$secondary-txt-cl: #757575;
$light-txt-cl: #ffffff;
$accent-txt-cl: #2196f3;
$logo-txt-cl: #000000;
$icon-cl: #afb1b8;

/* Background colors */
$basic-bg-cl: #ffffff;
$hdr-ftr-bg-cl: #2f303a;
$overline-bg-cl: #c4c4c4;
$accent-hdr-cl: #188ce8;
$team-bg-cl: #f5f4fa;
$accent-bg-cl: #2196f3;

/* Others */
$header-brd-cl: 1px solid #ececec;
$portfolio-brd-cl: 1px solid #eeeeee;
$indent: 30px;
$items: 3;
$interval: 30px;

$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
