.contacts {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 768px) {
    margin-left: auto;
  }

}

.header-contacts {
  @extend %list;

  display: block;

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  &__item {

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }

  &__link {
    @extend %link;

    @include flex(flex, nule, center);

    gap: 10px;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: $secondary-txt-cl;

    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    transition: color $animation;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-txt-cl;
  }

  &__icon {
    fill: currentColor;
  }
}